<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{url_for('admin_bp.static', filename='style.css')}}">
</head>
<body>
<div class="heading">
    <h2>Admin Login</h2>
</div>
{% for msg in get_flashed_messages(category_filter="success") %}
    <p>{{msg}}</p>
{% endfor %}
<hr>
{{form.hiddentag}}
<div class="form">
    <form method="post">
        <div class="inputfields">
            {{form.email(placeholder="Email")}}
        </div>
        <div class="inputfields">
            {{form.password(placeholder="Password")}}
        </div>
        <div class="inputfields">
            {{form.csrf_token}}
            {{form.submit()}}
        </div>
        {% for error in get_flashed_messages(category_filter=["error"]) %}
            <p>{{error}}</p>
        {% endfor %}
    </form>
</div>
<hr>
<div class="foot">
    <a href="/admin_register" type="button">Don't have an account Create one!</a>
</div>
</body>
</html>